sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t spg51/lab:test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true spg51/lab:test npm test

after_success:
  - docker build -t spg51/lab:fib-client ./client
  - docker build -t spg51/lab:fib-nginx ./nginx
  - docker build -t spg51/lab:fib-server ./server
  - docker build -t spg51/lab:fib-worker ./worker
  # Logowanie do docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Push obrazow do docker hub
  - docker push spg51/lab:fib-client
  - docker push spg51/lab:fib-nginx
  - docker push spg51/lab:fib-server
  - docker push spg51/lab:fib-worker

deploy:
  provider: elasticbeanstalk
  region: 'us-east-2'
  app: 'multifib'
  env: 'Multifib-env'
  bucket_name: 'elasticbeanstalk-us-east-2-039699603980'
  bucket_path: 'multifib'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY